<h1>
  Journal prompt #<%= @journal_prompt.id %> details
</h1>

<div>
  <div>
    <a href="/journal_prompts">
      Go back
    </a>
  </div>

  <div>
    <a href="/existing_journal_prompt_form/<%= @journal_prompt.id %>">
      Edit journal prompt
    </a>
  </div>

  <div>
    <a href="/delete_journal_prompt/<%= @journal_prompt.id %>">
      Delete journal prompt
    </a>
  </div>
</div>

<dl>
  <dt>
    Prompt text
  </dt>
  <dd>
    <%= @journal_prompt.prompt_text %>
  </dd>

  <dt>
    Day
  </dt>
  <dd>
    <%= @journal_prompt.day %>
  </dd>

  <dt>
    Journal method
  </dt>
  <dd>
    <%= @journal_prompt.journal_method_id %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@journal_prompt.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@journal_prompt.updated_at) %> ago
  </dd>
</dl>

