<h1>
  Journal prompt list
</h1>

<a href="/new_journal_prompt_form">
  Add a new journal prompt
</a>

<hr>

<table>
  <tr>
    <th>
      ID
    </th>

    <th>
      Prompt text
    </th>

    <th>
      Day
    </th>

    <th>
      Journal method
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @journal_prompts.each do |journal_prompt| %>
  <tr>
    <td>
      <%= journal_prompt.id %>
    </td>

    <td>
      <%= journal_prompt.prompt_text %>
    </td>

    <td>
      <%= journal_prompt.day %>
    </td>

    <td>
      <%= journal_prompt.journal_method_id %>
    </td>

    <td>
      <%= time_ago_in_words(journal_prompt.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(journal_prompt.updated_at) %> ago
    </td>

    <td>
      <a href="/journal_prompts/<%= journal_prompt.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
