<h1>
  Edit journal prompt #<%= @journal_prompt.id %>
</h1>

<hr>

<%= render("journal_prompt_templates/validation_failures.html.erb") %>

<form action="/update_journal_prompt_record/<%= @journal_prompt.id %>" method="post">
  <div>
    <label for="prompt_text">
      Prompt text
    </label>

    <textarea id="prompt_text" name="prompt_text" rows="3"><%= @journal_prompt.prompt_text %></textarea>
  </div>

  <div>
    <label for="day">
      Day
    </label>

    <input type="text" id="day" name="day" value="<%= @journal_prompt.day %>">
  </div>

  <div>
    <label for="journal_method_id">
      Journal method
    </label>

    <input type="text" id="journal_method_id" name="journal_method_id" value="<%= @journal_prompt.journal_method_id %>">
  </div>

  <button>
    Update journal prompt
  </button>
</form>

<hr>

<a href="/journal_prompts">
  Go back
</a>
