<h1>
  Quote #<%= @quote.id %> details
</h1>

<div>
  <div>
    <a href="/quotes">
      Go back
    </a>
  </div>

  <div>
    <a href="/existing_quote_form/<%= @quote.id %>">
      Edit quote
    </a>
  </div>

  <div>
    <a href="/delete_quote/<%= @quote.id %>">
      Delete quote
    </a>
  </div>
</div>

<dl>
  <dt>
    Body
  </dt>
  <dd>
    <%= @quote.body %>
  </dd>

  <dt>
    Author
  </dt>
  <dd>
    <%= @quote.author %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@quote.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@quote.updated_at) %> ago
  </dd>
</dl>

