<h1>
  Quote list
</h1>

<a href="/new_quote_form">
  Add a new quote
</a>

<hr>

<table>
  <tr>
    <th>
      ID
    </th>

    <th>
      Body
    </th>

    <th>
      Author
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @quotes.each do |quote| %>
  <tr>
    <td>
      <%= quote.id %>
    </td>

    <td>
      <%= quote.body %>
    </td>

    <td>
      <%= quote.author %>
    </td>

    <td>
      <%= time_ago_in_words(quote.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(quote.updated_at) %> ago
    </td>

    <td>
      <a href="/quotes/<%= quote.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
