<h1>
  Journal method #<%= @journal_method.id %> details
</h1>

<div>
  <div>
    <a href="/journal_methods">
      Go back
    </a>
  </div>

  <div>
    <a href="/existing_journal_method_form/<%= @journal_method.id %>">
      Edit journal method
    </a>
  </div>

  <div>
    <a href="/delete_journal_method/<%= @journal_method.id %>">
      Delete journal method
    </a>
  </div>
</div>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @journal_method.name %>
  </dd>

  <dt>
    Description
  </dt>
  <dd>
    <%= @journal_method.description %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@journal_method.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@journal_method.updated_at) %> ago
  </dd>
</dl>

